section {
    border: 100px solid transparent;
    image-rendering: pixelated;
    border-image: url("/assets/frozenblock/textures/blueprint_border.png") 16 16 16 16 repeat;

    background-image: url("/assets/frozenblock/textures/blueprint.png");
    background-size: 100px;
}

#portfolio-title {
    font-family: MinecraftFiveBold, poppins, system-ui;
    margin: 0;
}

#socials {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
}

#socials li {
    display: inline-flex;
}

#socials img {
    width: 100px;
}

#portfolio-title img {
    display: inline;
    width: 100px;
    height: 100px;
}

#portfolio-title {
    display: flex;
    position: relative;
    font-size: 64px;
    text-align: center;
}

#portfolio-title div {
    margin: 0 10px;
    height: 100%;
    display: inline;
}

#portfolio-footer {
    color: gray;
    text-align: right;
}

@media (max-width: 750px) {
    #portfolio-title img {
        display: none;
    }

    #socials {
        text-align: center;
    }

    #portfolio-title {
        font-size: 32px;
    }
}